.app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 95%;
    max-width: 1000px;
    margin: 2em auto;
}
a {
    text-decoration: none;
    color: white;
}
header {
    grid-column: 1/4;
    grid-row: 1;
    padding: 5vh;
    background-color: rgb(100, 162, 212);
}
main {
    grid-row: 2;
    grid-column: 1/4;
}
#btn{
    float: right;
}
a {
    padding: 3vh ;
}
 a:hover {
    background-color: rgb(84, 149, 202);
}
